<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19疫情新增更新</title>
    <link rel="stylesheet" href="../static/CSS/add.css">
</head>
<body>
<div>
    <div id="top">COVID-19疫情新增更新</div>
    <div id="top_left1"></div>
    <div id="top_left2"></div>
    <div id="top_l1"></div>
    <div id="top_l2"></div>
    <div id="top_l3"></div>
    <div id="top_l4"></div>
    <div id="top_right1"></div>
    <div id="top_right2"></div>
    <div id="top_r1"></div>
    <div id="top_r2"></div>
    <div id="top_r3"></div>
    <div id="top_r4"></div>
    <div id="time"></div>
    <div id="time_left_left"></div>
    <div id="time_left"></div>
    <div id="time_right"></div>
    <div id="time_right_right"></div>
</div>
</body>
</html>